.about-container {
    display: flex;
    height: 700px;
    margin: 8% 0 0;
}

.right-about {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    justify-items: center;
    padding-top: 3%;
}

.left-about {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.title-about {
    font-size: 3.5rem;
}

.bar {
    border-bottom: 8px solid #e35145;
    border-radius: 5px;
    font-size: 3.5rem;
    margin: 15px 0;
    width: 100%;
}