.contact-container {
    display: flex;
    height: 550px;
    margin: 10% 0 0;
}

.left-contact {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.data-contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    margin: auto 0;
}

.paragraph-contact {
    margin: 40px 0 auto;
    width: 60%;
    font-size: 1.5rem;
}

.paragraph-contact span {
    color: #e35145;
}

.anchor-contacts {
    margin-right: 60px;
    color: #a3a3a3;
    font-size: 1.2rem;
    transition: color 0.5s;
}

.anchor-contacts:hover {
    color: #ffffff;
}

.right-contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: space-between;
}

.right-contact .data-contact {
    justify-content: space-around;
    align-items: center;
    height: 80%;
}

.email-contact {
    height: 17%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.paragraph-email {
    width: 70%;
    font-size: 1.5rem;
}

.social-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 17%;
    width: 50%;
    margin-bottom: 100px;
}

.social-links {
    display: flex;
}

.data-contact i {
    color: #e35145;
}

.email-copy {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.copied {
    height: 100%;
    font-family: 'Ubuntu Mono', monospace;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #e35145;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (min-width: 1681px) 
       {
        .copied {
            margin-right: 20%;
        }
    }

@media screen and (max-width: 1680px), 
       screen and (max-height: 1050px) 
       {

        .contact-container {
            margin: 2% 0 0;
    }
}

@media screen and (max-width: 1600px), 
       screen and (max-height: 900px) 
       {

        .contact-container {
            margin: 0 0;
        }

}

@media screen and (max-width: 1440px), 
       screen and (max-height: 900px) 
       {
        .copied {
            margin-right: -10%;
        }
}

@media screen and (max-width: 1280px), 
       screen and (max-height: 800px) 
       {
        .copied {
            margin-right: -20%;
        }
}