footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 100%;
    left: 0;
    background-color:#e35145;
    position: absolute;
}

.span-footer {
    transform: rotate(5deg);
    position: absolute;
    font-size: 7rem;
    font-weight: 700;
    left: 200px;
    color: #17191d;
    opacity: 0.6;
}

.heading-footer:hover {
    font-weight: 700;
    color: #17191d;
    cursor: default;
}


/* Media Screen */ 

@media screen and (max-width: 895px) {
    .span-footer {
        display: none;
    }
}

@media screen and (max-width: 768px) {

    .span-footer {
        left: 10%;
    }
}

@media screen and (max-width: 568px) {
    .span-footer {
        visibility: hidden;
    }
}

@media screen and (max-width: 480px) {
    .span-footer {
        visibility: hidden;
    }

    footer {
        margin-top: 20%;
        height: 100px;
    }
}