.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 0 0;
}

.logo {
    font-size: 2rem;
    color: #ffffff;
}

.logo span {
    color: #e35145; 
    opacity: 1;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

#blinker {
    font-size: 1rem;
    opacity: 0.6;
    animation: blinke 1s linear infinite;
    margin-left: .3rem;
    font-size: 1.5rem;
}

@keyframes blinke {
    50% {
        opacity: 0;
    }
}

.nav-container {
    width: 50%;
    justify-content: space-between;
    box-sizing: border-box;
    display: flex;
}

.nav-anchor {
    width: 100px;
    display: flex;;
    justify-content: center;
    color: #a3a3a3;
    font-size: 1.2rem;
    transition: color 0.5s;
}

.nav-anchor:hover {
    color: #ffffff;
}

.nav-anchor:hover::before {
    content: "/";
    color: #e35145;
}

.button {

}

