.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 0 0;
}

.logo {
    font-size: 2rem;
    color: #ffffff;
}

.logo span {
    color: #e35145; 
    opacity: 1;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

#blinker {
    font-size: 1rem;
    opacity: 0.6;
    animation: blinke 1s linear infinite;
    margin-left: .3rem;
    font-size: 1.5rem;
}

@keyframes blinke {
    50% {
        opacity: 0;
    }
}

.nav-container {
    width: 50%;
    justify-content: space-between;
    box-sizing: border-box;
    display: flex;
}

.nav-anchor {
    width: 100px;
    display: flex;;
    justify-content: center;
    color: #a3a3a3;
    font-size: 1.2rem;
    transition: color 0.5s;
}

.nav-anchor:hover {
    color: #ffffff;
}

.nav-anchor:hover::before {
    content: "/";
    color: #e35145;
}

.icon-hamb {
    display: none;
}

/* Media Screen */

@media screen and (max-width: 1440px), 
       screen and (max-height: 900px) 
       {

        .nav-anchor:nth-child(3) {
            width: 120px;
        }

        .nav-header {
            width: 500px;
        }

        .nav-container {
            width: 350px;
        }

}

@media screen and (max-width: 768px)
    {

        .header-container {
            justify-content: space-evenly;
        }

        .nav-header {
            width: 50%;
        }

        .nav-container {
            width: 350px;
        }

}

@media screen and (max-width: 667px)
    {

        .header-container {
            justify-content: space-evenly;
        }

        .nav-header {
            width: 50%;
        }

        .nav-container {
            width: 350px;
        }

}

@media screen and (max-width: 480px) {

    .header-container {
        justify-content: space-between;
        padding-left: 4%;
        padding-right: 4%;
    }

    .nav-header {
        display: none;
        position: absolute;
        top: 10%;
        left: 25%;
    }

    .icon-hamb {
        font-size: 25px;
        color: #e35145;
        display: flex;
    }
}

@media screen and (max-width: 320px) {

    .nav-container {
       width: 280px;
    }

    .nav-header {
        display: none;
        position: absolute;
        top: 12%;
        left: 25%;
    }

}

@media screen and (max-height: 570px) {
    .nav-header {
        top: 10%;
    }
}