.project-container {
    display: flex;
    flex-direction: column;
    height: 700px;
    margin: 10% 0 0;
}

.head-project {
    display: flex;
    justify-content: space-between ;
    height: 8%;
    width: 100%;
    align-items: center;
}

.head-project div {
    width: 50%;
}

.body-project {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92%;
    width: 100%;
}


