.home-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 700px;
    margin: 5% 0 0;
}

.left-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    height: 100%;
    justify-items: center;
}

.right-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.img-container {
    position: relative;
    border-radius: 360px;
    height: 650px;
    width: 650px;
    overflow: hidden;
}

.img-main {
    position: absolute;
    width: 100%;
}

.hidden {
    visibility: hidden;
}

.main-title {
    font-size: 6rem;
}

.second-title {
    font-size: 2.5rem;
    margin: 15px 0 30px;
    color: #e35145;
}


.paragraph-title {
    font-size: 3rem;
    margin: 15px 0;
}

.btn-contact {
    color: #ffffff;
    width: 200px;
    padding: 10px;
    margin-bottom: 6%;
    font-size: 1.5rem;
    background-color: #e35145;
    border-radius: 3px;
	border: none;
    font-family: 'Ubuntu Mono', monospace;
	cursor: pointer;
    transition: background-color 0.5s;
}

.btn-contact:hover {
    background-color: #ffffff;
    color: #17191d;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-top: 6%;
    width: 90;
}

/* Media Screen */

@media screen and (max-width: 1440px), 
       screen and (max-height: 900px) 
       {

        .img-container {
            height: 550px;
            width: 550px;
    }
}

@media screen and (max-width: 1366px), 
       screen and (max-height: 768px) 
       {

        .img-container {
            height: 500px;
            width: 500px;
        }

        .main-title {
            font-size: 5rem;
        }
}

@media screen and (max-width: 768px)
    {
        .home-container {
            position: relative;
            flex-direction: column-reverse;
            height: 100%;
            margin-top: 20%;
        }

        .right-container {
            width: 100%;
            margin-top: -10%;
            margin-bottom: 15%;
        }

        .left-container {
            width: 100%;
            align-items: center;
            text-align: center;
            margin-top: -100px;
        }

        .btn-contact{
            margin-top: 50px;
        }

}

@media screen and (max-width: 480px) {

    .home-container {
        margin-top: 35%;
    }

    .right-container {
        margin-bottom: -5%;
    }
    
}

@media screen and (max-width: 320px) {

    .right-container {
        margin-top: -15%;
        margin-bottom: -35%;
    }
}